h1{
text-align: center;
font-size: 60px;
color: rgb(254, 243, 156);
}
body {
background-color: rgb(174, 219, 231);
}
 .gato{
width: 40%;
height: 40%;
}
P{
text-align: center;
font-size: 20px ;   
color: rgb(51, 51, 51);
}
.botao{
background-color: aliceblue;
color: antiquewhite;
text-align: center;
border: none;
display: inline-block;
padding: 10px 20px;
cursor: pointer;

}
.cabecalho{
    border-style: groove;
    border-color: rgb(0, 0, 0);
}