h1{
text-align: center;
font-size: 50px;
color: rgb(251, 234, 107);
}
body {
background-color: rgb(174, 219, 231);
}
 .gato{
width: 40%;
height: 40%;
}
P{
text-align: center;
font-size: 20px ;   
color: rgb(51, 51, 51);
}
.button{
background-color: aliceblue;
color: antiquewhite;
text-align: center;
border: none;
display: inline-block;
padding: 10px 20px;
cursor: pointer;

}